#Box{
	margin: 3%;
	margin-bottom: 10%;
}

#SubmitButton{
	margin-bottom: 20%;
}

#theFooter {
	display:inline-block;
	background-color: grey;
	width: 100%;
	height: 50%;
}

#GreenText{
	font-size: 20;
	color: #33CC00;
}

body{
	background-image: url("pic2.jpg");
}

#footer{
	margin-right: 30%;
	margin-bottom: 10%;
}

#formid{
	margin-left: 25%;
}

#leftside{
	margin-right: 5%;
	float: left;

}

#rightside{
	float: left;
}